/* styles.css */

* {
    box-sizing: border-box;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 20px;
}

#quiz-container {
    width: 700px;
    margin: auto;
    text-align: center;
    border: 5px solid black;
    padding: 20px;
    margin-top: 50px;
    height: auto;
    background: url(img/photo-1506102383123-c8ef1e872756.webp);
    background-size: cover;
}

.btn-container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
}

button {
    background-color: #91b7d6;
    color: rgb(21, 20, 20);
    font-size: large;
    padding: 10px;
    margin: 10px 0;
    
}
